@tailwind base;
@tailwind components;
@tailwind utilities;
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

body {
  margin: 0;
  /* font-family: "Muli", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  /* display: "flex";
  justify-content: "center"; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mainBox {
  display: flex;
  flex-direction: column;
  margin: 3px;
  width: 90vw;
  height: 90vh;
  backdrop-filter: blur(10px);
  backdrop-filter: opacity(0.5);
}

.navBar {
  position: relative;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  border-radius: 15px;
  width: 90vw;
  height: 7vh;
  minheight: 50px;
  padding: 30px;
  filter: blur(0.3px);
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  color: black;
  backdrop-filter: opacity(0.5);
}

.navBarElements {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.gameColumn {
  padding: 0;
  /* margin: 10px; */
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-flow: column;
  justify-content: space-around;
  /* line-height: 30px; */
  animation-timing-function: ease-in;
  position: relative;
  /* animation: spin 5s infinite; */
}

@keyframes spin {
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    top: 50px;
    opacity: 1;
  }
}

.gameItem {
  border-radius: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 500ms ease-in-out;
  width: 8vw;
  height: 11vh;
  margin-top: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: blur(0.3px);
  opacity: 0.8;
}

.gameCanvas {
  display: flex;
}

.gameBox {
  width: 70vw;
  height: 70wh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 15px;
  border: 0px solid grey;
  border-radius: 15px;
  height: 70%;
  padding: 10%;
  filter: blur(0.3px);
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  /* background-color: white; */
  /* color: black; */
  backdrop-filter: blur(20px);
  filter: blur(1px);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  /* border: 0.1px solid grey; */
  border-radius: 15px;
  /* filter: blur(0.3px); */
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding: 15px;
  margin: 5px;
  /* background: rgba(255, 255, 255, 0.9); */
  /* filter: "blur(0.3px)"; */
  backdrop-filter: blur(2px);
}

body {
  /* background-image: url("../public/ether_background.jpeg"); */
  filter: blur(10px);
  z-index: "-999";
  -webkit-filter: blur(0.1px);
  background-position: center;
  background-repeat: "reapeat";
  background-size: 100vw 110vh;
  height: 100%;
  backdrop-filter: blur(5px) brightness(90%) contrast(110%);
  /* color: white; */
  /* background-color: #292929; */
}
